<section class="site-section" id="agents-section">
      <div class="container">
        <div class="row mb-5 justify-content-md-center">
          <div class="col-md-7 text-left">
            <h2 class="section-title mb-3">Agentes</h2>
            <p class="lead">Nuestros agentes le brindarán toda la información, asesoramiento y todos sus derechos como futuro inquilino. 
            Les guiará en sus visitas a los inmuebles y responderá a todas sus preguntas relacionadas al inmueble que Ud. quiere alquilar</p>
          </div>
        </div>
        <div class="row justify-content-md-center">
          

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
				
              </figure>
              <div class="p-3 bg-primary">
			    <img src="assets/images/avatar5.png" alt="Image" class="w-25 mb-3 rounded-circle">
                <h3 class="mb-2">Natividad Macedo Monge</h3>
                <span class="position">Agente inmobiliario</span>
                <p><span class="position">Código de Registro: 11165-PN-MVCS</span></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
