    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">Nosotros</h2>
                <p>Le brindaremos toda la información, asesoramiento y le informaremos todos sus derechos como futuro inquilino.</p>
              </div>
              <div class="col-md-3 mx-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="/index.html#publicar-section">Publicar</a></li>
                  <li><a href="/index.html#services-section">Servicios</a></li>
                  <li><a href="/index.html#contact-section">Contacto</a></li>
				  <li><a href="/sitemap.xml" title="sitemap.xml">Sitemap</a></li>
                </ul>
              </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <h2 class="footer-heading mb-4">Recibir noticias</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Su correo electrónico" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Enviar</button>
                </div>
              </div>
            </form>  
            </div>
            
            <div class="">
              <h2 class="footer-heading mb-4">Síguenos</h2>
                <a href="https://www.facebook.com/Buenalquilercom-101788645255540" target="_blank" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
            </div>


          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="https://codersite.dev" target="_blank" >Moises Gamio</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  

  <a href="#top" class="gototop"><span class="icon-angle-double-up"></span></a> 

  <script src="{{ '/assets/js/jquery-3.3.1.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/jquery-ui.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/owl.carousel.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/jquery.countdown.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap-datepicker.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/jquery.easing.1.3.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/aos.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/jquery.fancybox.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/jquery.sticky.js' | relative_url }}"></script>

  
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    