<head>
	<meta name="keywords" content="inmuebles, casas, apartamentos, departamentos, terrenos, alquiler, venta, urbania">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<meta property="og:image" content="{{ '/assets/images/alquiler_2.jpg' | relative_url }}" />
   
    {%- seo -%}
	<title>
	   {%if page.title %}
		   {{ page.title }}
	   {% else %}
		   {{ site.title }}
	   {% endif %}
    </title>
	<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/fonts/icomoon/style.css' | relative_url }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/jquery-ui.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/jquery.fancybox.min.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-datepicker.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/fonts/flaticon/font/flaticon.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/aos.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	
	
    
    <style>
      .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    </style>

  {% include analytics.html %}
 
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '2431322010345307');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=2431322010345307&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->
	
  </head>