<head>
	<meta name="keywords" content="Inmuebles, casas, apartamentos, departamentos, terrenos, alquiler, venta, urbania">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<meta property="og:image" content="{{ '/assets/images/img_2.jpg' | relative_url }}" />
    {%- seo -%}
	<title>
	   {%if page.title %}
		   {{ page.title }}
	   {% else %}
		   {{ site.title }}
	   {% endif %}
    </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/assets/fonts/icomoon/style.css' | relative_url }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/jquery-ui.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.theme.default.min.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/jquery.fancybox.min.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-datepicker.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/fonts/flaticon/font/flaticon.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/aos.css' | relative_url }}">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	
	
    
    <style>
      .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    </style>

  {% include analytics.html %}
 
  </head>