---
layout: default
---
<div class="container">

<h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>

<div class="row">
    <div class="site-block-wrap">
    <div class="site-blocks-cover overlay overlay-2" style="background-image: url(assets/images/iquitos/iquitos3.jpg);" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7 mx-auto mt-lg-5 text-center">
            <h1 class="text-shadow">VENTA TERRENO Con Título</h1>
            <h2>Ciudad de IQUITOS</h2>
            <p class="mb-4 text-shadow">750 m2, frente a carretera Iquitos-Nauta</p>
            <p><button class="btn btn-primary px-5 py-3">
				<i class="fa fa-whatsapp">
				<a href="https://wa.me/51990931524/?text=Informacion%20sobre%20Escardo%20por%20favor" target="_blank" style="color:#FFFFFF;"> 990 931 524</a>
				</i>
			</button></p>
            
          </div>
        </div>
      </div>

      <a href="#property-details" class="smoothscroll arrow-down"><span class="icon-arrow_downward"></span></a>
    </div>  

    
    
    <div class="site-section" id="property-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="owl-carousel slide-one-item with-dots">
              <div><img src="assets/images/iquitos/iquitos1.jpg" alt="Image" class="img-fluid mr-lg-4 mt-4"></div>
              <div><img src="assets/images/iquitos/iquitos2.jpg" alt="Image" class="img-fluid mr-lg-4 mt-2"></div>
              <div><img src="assets/images/iquitos/iquitos3.jpg" alt="Image" class="img-fluid mr-lg-4 mt-2"></div>
              <div><img src="assets/images/iquitos/iquitos4.jpg" alt="Image" class="img-fluid mr-lg-4 mt-2"></div>
			  <div><img src="assets/images/iquitos/iquitos5.jpg" alt="Image" class="img-fluid mr-lg-4 mt-2"></div>
            </div>
          </div>
          <div class="col-lg-5 pl-lg-5 ml-auto">
            <div class="mb-5">
              <h3 class="text-black mb-4 mr-lg-4 mt-4">Ciudad de Iquitos</h3>
              <p>750 m2</p>
              <p>Se vende terreno para casa de Recreo o como Inversión
              A 20 minutos de la ciudad de Iquitos 
              </p>
			   <ul>
				  <li>Ubicación Estratégica: A tan solo 20 minutos del aeropuerto de la ciudad de Iquitos, este terreno cuenta con acceso directo - 50m - a la carretera Iquitos-Nauta (Km 22), ofreciendo una conveniencia incomparable para los visitantes.</li>
				  <li>Frente en Carretera: a una paso de la misma carretera, este terreno ofrece una exposición excepcional para cualquier negocio turístico, asegurando una visibilidad óptima para atraer a los viajeros que transitan por la zona.</li>
				  <li>Restaurante Turístico Campestre: Con el encanto de la selva amazónica como telón de fondo, este terreno ofrece el escenario perfecto para un restaurante que sirva delicias locales y platos internacionales a los visitantes que buscan una experiencia gastronómica única.</li>
				  <li>Hospedaje Campestre con Recreo y Restaurante: Con suficiente espacio para la construcción de cabañas e instalaciones recreativas, este terreno es ideal para un hospedaje que ofrezca comodidad y entretenimiento en medio de la naturaleza.
				      Actualmente a un paso de los recreos campestres "El Encanto de la Laguna" y "La Jungla"</li>
				  <li>Proyectos Personalizados: ¿Tienes una visión única para este espacio? ¡Las posibilidades son infinitas! Desde eco-lodges hasta centros de retiro, el potencial de este terreno solo está limitado por tu imaginación.</li>
				  <li>Precio Negociable: Se escuchan ofertas para esta increíble oportunidad de inversión.</li>
			  </ul>

            </div>

            <div class="mb-5">
              
              <div class="mt-5">
                <img src="assets/images/avatar1.jpg" alt="Image" class="w-25 mb-3 rounded-circle">
                <h4 class="text-black">Lucho</h4><p class="text-muted mb-4">Agente inmobiliario</p>
				
                <p><button class="btn btn-primary px-5 py-3">
				<i class="fa fa-whatsapp">
				<a href="https://wa.me/51962750696/?text=Informacion%20sobre%20Terreno%20Iquitos%20por%20favor" target="_blank" style="color:#FFFFFF;"> 962 750 696</a>
				</i>
				</button></p>
              </div>
            </div>
			
            <div class="mb-5">
              
              <div class="mt-5">
                <img src="assets/images/avatar2.png" alt="Image" class="w-25 mb-3 rounded-circle">
                <h4 class="text-black">Naty</h4><p class="text-muted mb-4">Agente inmobiliario</p>
				
                <p><button class="btn btn-primary px-5 py-3">
				<i class="fa fa-whatsapp">
				<a href="https://wa.me/51947597826/?text=Informacion%20sobre%20Terreno%20Iquitos%20por%20favor" target="_blank" style="color:#FFFFFF;"> 947 597 826</a>
				</i>
				</button></p>
              </div>
            </div>
			
          </div>
        </div>
      </div>
    </div>
    
	<div class="page-content">
        {{ content }}
        
    </div>
	
</div>  
</div>