---
layout: default
---
<div class="container">

  <h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>

  <div class="row align-items-center justify-content-center">

    <div class="card bg-dark text-white mr-lg-4 mt-2" style="width: 54rem;">
      <img src="assets/images/arequipa/portada.jpg" class="card-img-top" alt="...">
      <div class="card-img-overlay">
        <h1 class="card-title">VENTA TERRENO AREQUIPA</h1>
        <p class="card-text">Hacienda La Joya, 730 m2, para casa de campo o como inversión</p>
        <p class="card-text"><small class="text-muted">Tlf 973988766</small></p>
	    <a href="{{site.baseurl}}/venta-terreno-arequipa.html" class="btn btn-primary">Ver Más</a>
      </div>
    </div>
	
    <div class="card bg-dark text-white mr-lg-4 mt-2" style="width: 54rem;">
      <img src="assets/images/iquitos/portada.jpg" class="card-img-top" alt="...">
      <div class="card-img-overlay">
        <h1 class="card-title">VENTA TERRENO IQUITOS</h1>
        <p class="card-text">750 m2, para casa de campo o como inversión</p>
        <p class="card-text"><small class="text-muted">Tlf 990931524</small></p>
	    <a href="{{site.baseurl}}/venta-terreno-iquitos.html" class="btn btn-primary">Más Fotos</a>
      </div>
    </div>
  

    <div class="card bg-dark text-white mr-lg-4 mt-2" style="width: 54rem;">
      <img src="assets/images/la_huaca/portada.jpg" class="card-img-top" alt="...">
      <div class="card-img-overlay">
        <h1 class="card-title">DEPARTAMENTO EN SAN MIGUEL</h1>
        <p class="card-text">78m2, Amoblado, 3 dormitorios. Vigilancia 24 horas. Areas verdes</p>
        <p class="card-text"><small class="text-muted">Tlf 947597826</small></p>
        <a href="#" class="btn btn-primary">ALQUILADO</a>
      </div>
    </div>

  </div>

  <div class="page-content">
    {{ content }}
  </div>

</div>